<div id="record" class="index_item">
  <div class="title">
        <h2 class="wow fadeInUp underline" data-wow-delay="0.5s">幸福时刻</h2>
        <p class="wow fadeInUp" data-wow-delay="0.7s" style="color:#ef6a8a">
          <strong>爱情时刻</strong>是特殊的，它值得被记录下来，将永远铭记！这是我们一些重要和幸福的时刻。
            </p>
  </div>
  <div class="content">
      <ul class="timeline">
          <li class="">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>我们第一次相遇,在同一家公司,开始一起工作</p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>2017-08-16</p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted negative100">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>我们第一次网上聊天，我加了你的QQ,从此我们互相了解,成为了无话不谈的朋友</p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>2017-11-06</p>
                  </div>
              </div>
          </li>
          <li class="negative75">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>我们第一次一起去看电影，电影名字是《前任3》<br></p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>2017-11-06</p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted negative100">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>我跟你表白了，我们在一起了. </p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>2018-01-30</p>
                  </div>
              </div>
          </li>
          <li class="negative75">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>我们第一次牵手，我记得那天是下班一起去吃了一顿火锅，店的名字是《老十七火锅》，那天我还第一次送花给你，（虽然买花过程比较曲折）. </p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>2018-03-17</p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted negative100">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>你给我过得第一个生日，我们一起做了蛋糕，做了饼干。又吃了一顿美味的烤鱼. </p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>2018-03-28</p>
                  </div>
              </div>
          </li>
          <li class="negative75">
              <div class="timeline-badge wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <i> ♥ </i>
              </div>
              <div class="timeline-panel wow fadeInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                  <div class="timeline-heading">
                      <p></p>
                  </div>
                  <div class="timeline-body">
                      <div id="dslc-theme-content">
                          <div id="dslc-theme-content-inner">
                              <p>未完待续，我们还会有很多很多幸福快乐的第一次需要经历，不管开心或者不开心，我们都会一起走下去<br></p>
                          </div>
                      </div>
                  </div>
                  <div class="timeline-date">
                      <p>...</p>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>
