<div id="comment" class="index_item">
  <div class="title">
    <h2>留言</h2>
    <p></p>
  </div>
  <div class="content">
 <!--PC和WAP自适应版-->
 <div id="SOHUCS" sid="shj1995.com"></div>
 <script type="text/javascript">
     (function () {

     })(); </script>

<div id="dslc-module-56" class="dslc-module-front dslc-module-Pluton_Spacer dslc-in-viewport-check dslc-in-viewport-anim-none   dslc-module-handle-like-regular"
data-module-id="56" data-dslc-module-id="Pluton_Spacer" data-dslc-module-size="12"
data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
data-dslc-anim-easing="default" data-dslc-preset="">
<div class="spacer"></div>
</div>
<!-- .dslc-module -->
  </div>
</div>
