<div id="main" class=" center-block">
  <div class="top"></div>

  <div class="panel panel-default login-panel">
    <div class="panel-body">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nz-input formControlName="userName" placeholder="用戶名">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">请输入您的用户名!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input type="password" nz-input formControlName="password" placeholder="密码">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入您的密码!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="remember">
              <span>记住我</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
            <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
            还没有账号,
            <a href="">注册</a>一个吧
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div class="bottom"></div>
</div>