#main{
  width: 300px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;

}
#main .top{
  min-height: 1%;
  width: 300px;
}

#main .bottom{
  min-height: 1%;
  width: 300px;
}
    .login-panel{
      max-width: 300px;
      height: 300px;
      display: table-cell;
      vertical-align: middle;
    }
    .login-form {
      max-width: 300px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }