<nz-affix>
  <nav id="header">
    <div class="content">
      <div class="logo"><img src="../../../assets/images/logo.png" alt=""></div>
      <div class="nav">
        <ul>
          <li>
            <a href="#about">我们的爱情</a>
          </li>
          <li>
            <a href="#record">幸福时刻</a>
          </li>
          <li>
            <a href="#photo">照片墙</a>
          </li>
          <li>
            <a href="#comment">留言</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nz-affix>
