<nz-affix>
  <nav id="header">
    <div class="content">
      <div class="logo"><img src="../../../assets/images/logo.png" alt=""></div>
      <div class="nav">
        <ul>
          <li>
            <a href="#about">第一块内容</a>
          </li>
          <li>
            <a href="#record">第二块内容</a>
          </li>
          <li>
            <a href="#photo">第三块内容</a>
          </li>
          <li>
            <a href="#comment">第四块内容</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nz-affix>
