<div id="about" class="index_item">
  <div class="title">
    <h2>我们的爱情</h2>
    <p>20180130</p>
  </div>
  <div class="content">
      <div class="col-md-12">
          <div class="col-md-6">
              <ul class="ch-grid man wow flipInX animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: flipInX;">
                  <li>
                      <img src="./assets/images/shj.jpg" alt="">
                      <div class="ch-item ch-img-1">
                          <div class="ch-info"><br>
                              <h3>石豪杰</h3>
                              <p>一个不太优秀的男孩子，我喜欢上了一个女孩 叫吴萧婉，我们在一起很幸福</p>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="and">&amp;</div>
          <div class="col-md-6">
              <ul class="ch-grid woman wow flipInX animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: flipInX;">
                  <li>
                      <img src="./assets/images/wxw.jpg" alt="">
                      <div class="ch-item ch-img-1">
                          <div class="ch-info"><br>
                              <h3>吴萧婉</h3>
                              <p>一个可爱漂亮的女孩子，我喜欢上了一个男孩，叫石豪杰，我们在一起很幸福</p>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
