

  :host ::ng-deep .ant-back-top {
    bottom: 100px;
  }

  :host ::ng-deep .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #ef6a8a;
    text-align: center;
    font-size: 70px;
  }
